<template lang="html">
    <div class="addItem-container">
      <h3>Write your post</h3>
      <form @submit="checkForm" class="addItem-form">
        <div class="addItem-inputName">
          <label class="addItem-label">Your name:</label>
          <input type="text" id="firstName" name="" value="text" v-model="firstName">
        </div>
        <div class="addItem-inputMessage">
          <label class="addItem-label">Message:</label>
          <textarea v-model="message" name="name" rows="8" cols="80"></textarea>
        </div>
        <div class="addItem-muiltiSelect">
          <label class="addItem-label">Fruits you like:</label>
          <div class="addItem-muiltiSelect-selectors">
            <input type="checkbox" id="apple" value="apple" v-model="checkedFruits">
            <label for="apple">Apple</label>
            <input type="checkbox" id="orange" value="orange" v-model="checkedFruits">
            <label for="orange">Orange</label>
            <input type="checkbox" id="avocado" value="avocado" v-model="checkedFruits">
            <label for="avocado">Avocado</label>
            <input type="checkbox" id="papaya" value="papaya" v-model="checkedFruits">
            <label for="papaya">Papaya</label>
            <input type="checkbox" id="strawberry" value="strawberry" v-model="checkedFruits">
            <label for="strawberry">Strawberry</label>
            <input type="checkbox" id="waterMellon" value="waterMellon" v-model="checkedFruits">
            <label for="waterMellon">Watermelon</label>
          </div>
        </div>
        <div class="addItem-radio">
          <label class="addItem-label">Post style:</label>
          <div class="addItem-radio-selectors">
            <input type="radio" id="pink" value="pink" v-model="pickedColor">
            <label for="pink">Pink</label>
            <input type="radio" id="blue" value="lightblue" v-model="pickedColor">
            <label for="blue">Blue</label>
            <input type="radio" id="green" value="lightgreen" v-model="pickedColor">
            <label for="green">Green</label>
            <input type="radio" id="orange" value="orange" v-model="pickedColor">
            <label for="orange">Orange</label>
          </div>
        </div>
        <input
          class="addItem-submit"
          type="submit"
          value="Submit"
        >
        <p class="addItem-errorMessage">{{errorMessage}}</p>
      </form>
    </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name:'AddItem',
  data(){
    return {
      firstName:"",
      message:"",
      checkedFruits:[],
      pickedColor:"",
      errorMessage:""
    }
  },
  methods: {
    ...mapActions(['setPost']),
    checkForm: function (e) {
      e.preventDefault();

      if (!this.firstName) {
        this.errorMessage = "Your name is required!"
        return
      }

      if (!this.message) {
        this.errorMessage = "Message field is required!"
        return
      }

      let date = new Date();
      let time = date.getTime();
      let postData = {
        id: time,
        name:this.firstName,
        message:this.message,
        fruits:this.checkedFruits,
        color:this.pickedColor
      }
      this.setPost(postData)
      this.$router.push('/')
    }
  }
}

</script>

<style lang="css" scoped>
.addItem-container{
  /* 自身属性 */
  width: 800px;
  height: 60vh;
  margin:auto;
  border: solid 1px grey;
}

.addItem-form{
  /* 布局定位属性 */
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* 自身属性 */
  margin:10px;
  padding:20px;
}

.addItem-inputName{
  margin:10px;
}

.addItem-label{
  /* 布局定位属性 */
  float: left;
  /* 自身属性 */
  margin-right:5px;
  /* 文本属性 */
  font-weight: 500;
}

.addItem-inputMessage{
  margin:10px;
}

.addItem-muiltiSelect{
  margin:10px;
}

.addItem-muiltiSelect-selectors{
  float: right;
}

.addItem-radio{
  margin: 10px;
}

.addItem-radio-selectors{
  float: right;
}

.addItem-submit{
  margin-top: 20px;
  width:20%;
}

.addItem-errorMessage{
  color:red;
  font-weight: bold;
}

</style>
