<template lang="html">
  <div>
      <div v-if="!havePosts">
        <h3>No post now</h3>
        <router-link :to="{ name: 'addItem'}">Write a post</router-link>
      </div>
      <List
        :posts="posts"
      />
  </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import List from './List'
export default {
  components:{
    List,
  },
  data(){
    return {
    }
  },
  computed: {
    ...mapState(['posts']),
    ...mapGetters(['havePosts'])
  }
}
</script>

<style lang="css" scoped>
</style>
