<template lang="html">
  <div>
      <div v-for="post in posts">
          <ListItem
            :post="post"
          />
          <hr>
      </div>
  </div>
</template>

<script>
import ListItem from './ListItem'

export default {
  name:'ListComp',
  components:{
    ListItem
  },
  props:{
    posts: Array
  }
}
</script>

<style lang="css" scoped>
</style>
