<template lang="html">
  <div class="list-item-container" :style="borderObject">
      <div class="list-item-left">
        <span>{{post.name}}</span> :
      </div>
      <div class="list-item-middle">
        <span :style="styleObj">{{post.message}}</span>
      </div>
      <div class="list-item-right">
        <strong v-if="post.fruits.length>0">You like: </strong>
        <div v-bind:key="post.fruits" v-for="fruit in post.fruits">
              <span>{{fruit}} ,</span>
        </div>
      </div>
      <div class="list-item-update" >
          <button @click="toggleBox" type="button" name="button">Update</button>
          <button @click="remove" type="button" name="button">Remove</button>
          <div v-if="isBoxOpen">
              <textarea v-model="updatedText" type="text" name="" value="" />
              <button @click="updateMessage" type="button" name="button">submit</button>
          </div>
      </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name:'ListItem',
  props:{
    post:Object
  },
  data(){
    return {
      borderObject:{
        'border-left':`solid 2.5px ${this.post.color}`
      },
      styleObj:{
        color:this.post.color
      },
      isBoxOpen:false,
      updatedText:""
    }
  },
  methods:{
    ...mapActions(['removePost', 'setPost', 'updatePost']),
    remove: function(){
      this.removePost(this.post.id)
    },
    toggleBox: function(){
      this.isBoxOpen = !this.isBoxOpen
    },
    updateMessage: function(){
      let updateObject = {
        postId:this.post.id,
        name: this.post.name,
        fruits:this.post.fruits,
        color: this.post.color,
        updatedMessage:this.updatedText
      }
      this.updatePost(updateObject)
      this.isBoxOpen = !this.isBoxOpen
    }
  }
}
</script>

<style lang="css" scoped>
.list-item-container{
  /* 布局定位属性 */
  display: grid;
  grid-template-areas:
  'left middle right updateBox'
  'left middle right updateBox'
  'left middle right updateBox';
  /* 自身属性 */
  margin:25px;
}

.list-item-left {
  grid-area: left;
  max-width: 200px;
}

.list-item-middle {
  grid-area: middle;
  max-width: 200px;
}

.itelist-item-right {
  grid-area: right;
  max-width: 200px;
}

.list-item-update {
  grid-area: updateBox;
  max-width: 200px;
}

</style>
