<template lang="html">
    <div class="nav-container">
        <div class="nav-link">
            <router-link class="nav-link-router" :to="{ name: 'home'}">Home</router-link>
        </div>
        <div class="nav-link">
            <router-link class="nav-link-router" :to="{ name: 'addItem'}">Add</router-link>
        </div>
        <div class="nav-grow"></div>
        <div class="nav-link">
            <router-link class="nav-link-router" :to="{ name: 'signIn'}">Sign in</router-link>
        </div>
    </div>
</template>

<script>
export default {
  name:'Navigation'
}
</script>

<style lang="css" scoped>
.nav-container{
  /* 布局定位属性 */
  display: flex;
  flex-direction: row;
  /* 自身属性 */
  margin:5px;
  padding:20px;
  /* 文本属性 */
  font-size: 18px;
}

.nav-grow{
  flex:1
}

.nav-link{
  margin:5px;
}

.nav-link-router{
  text-decoration: none;
}
</style>
