<template lang="html">
  <div class="">
      Dont have a account?
      <router-link class="nav-link-router" :to="{ name: 'signIn'}">Sign in</router-link>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
