<template lang="html">
  <div class="">
      Already have an account?
      <router-link class="nav-link-router" :to="{ name: 'signUp'}">Sign up</router-link>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>
